.L1{
    background-color: bisque;
    color: red;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.L2{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: left;
    background-color: aqua;
}
.L3{
    background-color: chocolate;
    color: limegreen;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    font-size: 30px;
}