body{
    /* background-color: #008080; */
    color: yellowgreen;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
    text-indent: 10px;

}
.BT{
    text-transform: uppercase;
    text-decoration: overline;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
}